@page "/meats/{MeatId:guid}"
@inject Client _client;

<h1>Meat Details</h1>

<IndividualMeat Meat="_meat" />

@code {
	[Parameter]
	public Guid MeatId { get; set; }

	private MeatDetailsVm _meat;

	protected override async Task OnInitializedAsync()
	{
		_meat = await _client.GetMeatByIdAsync(MeatId, "1");
	}
}