<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FoodOrder.Frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 
                Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="beverages">
                <i class="oi fas fa-coffee"></i>
                Beverages
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="garnishes">
                <i class="oi fas fa-chart-pie"></i>
                Garnishes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="meats">
                <i class="oi fas fa-drumstick-bite"></i>
                Meats
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="soups">
                <i class="oi fas fa-glass-whiskey"></i>
                Soups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <i class="oi fas fa-list-ul"></i>
                Orders
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}