@model RegisterViewModel
<head>
    <link href="@Url.Content("~/Styles/app.css")" rel="stylesheet" type="text/css"/>
    <title>Login</title>
</head>
<div class="center">
    <input type="hidden" asp-for="ReturnUrl"/>
    <h1>Register</h1>
    <form asp-controller="Auth" asp-action="Register" method="post">
        <div class="txt_field">
            <input type="text" required asp-for="Username">
            <span asp-validation-for="Username"></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required asp-for="Password">
            <span asp-validation-for="Password"></span>
            <label>Password</label>
        </div>
        <div class="txt_field">
            <input type="password" required asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword"></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Register">
        <div class="signup_link">
            Not a member? <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
        </div>
    </form>
</div>