@page "/"

<h1>Hello, user!</h1>

<h3 class="alert alert-info">
    Its first fullstack project by Lesha and Kirill
</h3>
<div class="text-center">
    <img  src="https://klike.net/uploads/posts/2020-10/1602750482_1.jpg" alt="">
</div>
